body {
  font-family: 'Open Sans', sans-serif;
}

textarea {
  font-family: "Courier New", Courier, monospace;
  background-color: transparent;
  color: #606060;
  resize: none;
  outline: none !important;
  box-shadow: none;
}

.h-450 {
  height: 450px;
}
